{% extends "store/base.html" %}
{% block content %}
    <h2>Artists</h2>
    <a class="btn btn-primary my-2" href="{% url 'artist-create'%}">Add new artist</a>
    <form class="form-inline mb-2" action="/artist/search/" method="get">
        <input class="form-control" type="search" name="name" aria-label="Search" placeholder="Name">
        <button class="btn btn-outline-success mx-2" type="submit">Search</button>
    </form>
    <table class="table table-striped border">
        <thead class="bg-dark text-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Genres</th>
                <th scope="col">Listeners</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists %}
                <tr >
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.genres }}</td>
                    <td>{{ artist.listeners }}</td>
                    <td>
                        <div class="text-center w-100">
                            <a class="col- btn btn-secondary mx-2 my-1" href="{% url 'artist-update' artist.name %}">Update</a>
                            <a class="col- btn btn-danger mx-2 my-1" href="{% url 'artist-delete' artist.name %}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
{% endblock %}
