{% extends "store/base.html" %}
{% block content %}
    <h2>Franchises</h2>
    <a class="btn btn-primary my-2" href="{% url 'franchise-create'%}">Add new franchise</a>
    <form class="form-inline mb-2" action="/franchise/search/" method="get">
        <input class="form-control" type="search" name="name" aria-label="Search" placeholder="Name">
        <button class="btn btn-outline-success mx-2" type="submit">Search</button>
    </form>
    <table class="table table-striped border">
        <thead class="bg-dark text-light">
            <tr>
                <th scope="col">Product Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for franchise in franchises %}
                <tr >
                    <td>{{ franchise.product_id }}</td>
                    <td>{{ franchise.name }}</td>
                    <td>${{ franchise.price|floatformat:2 }}</td>
                    <td>
                        <div class="text-center w-100">
                            <a class="col- btn btn-secondary mx-2 my-1" href="{% url 'franchise-update' franchise.product_id %}">Update</a>
                            <a class="col- btn btn-danger mx-2 my-1" href="{% url 'franchise-delete' franchise.product_id %}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
{% endblock %}
