{% extends "store/base.html" %}
{% block content %}

    <!-- {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %} -->

    <!-- <div class="artists">
        {% for artist in artists %}
            <div class="arist">
                <h3>{{ artist.artist_name }}</h3>
            </div>
        {% endfor %}
    </div> -->

    <div class="songs">
        {% for song in songs %}
            <div class="song">
                <h3>{{ song.song_name }}</h3>
            </div>
        {% endfor %}
    </div>

    <!-- <div class="albums">
        {% for album in albums %}
            <div class="album">
                <h3>{{ album.album_name }}</h3>
            </div>
        {% endfor %}
    </div> -->

    <form action="/" method="get">
        <label for="query">Search</label>
        <input type="search" name="query">
        <button>Search</button>
    </form>
    
    <form action="/" method="get">
        <label for="delete">Delete</label>
        <input type="text" name="delete">
        <button>Delete</button>
    </form>

    <form action="/" method="get" class="insert-form">
        <label for="key">Primary Key</label>
        <input type="text" name="key">

        <label for="song-name">Song Name</label>
        <input type="text" name="song-name">

        <label for="artist-name">Artist Name</label>
        <input type="text" name="artist-name">

        <label for="genre">Genre</label>
        <input type="text" name="genre">

        <label for="album-name">Album Name</label>
        <input type="text" name="genre">

        <label for="price">Price</label>
        <input type="text" name="price">
        <button>Insert</button>
    </form>

    <div class="query-results">
        <div class="song">
            <h3>{{ results.song_name }}</h3>
        </div>
    </div>


{% endblock content %}
